
Library/
.vs/Sim/v15/Server/sqlite3/storage.ide-shm
.vs/Sim/v15/.suo
.vs/Sim/v15/Server/sqlite3/storage.ide-shm
.vs/Sim/v15/Server/sqlite3/storage.ide-wal
.vs/Sim/v15/Server/sqlite3/storage.ide
.vs/Sim/v15/.suo
